Q2 
Context:

Acme Studios, a major Hollywood production company, maintains a vast movie database. This database tracks information about movies they've produced, including titles, directors, and taglines, and is constantly striving to improve the movie-going experience for its audience. One way to achieve this is by understanding which movies resonate most with viewers. While raw vote averages can be informative, they don't necessarily account for the number of votes received. A movie with a high average rating based on a small number of votes may not be as representative of audience sentiment as a movie with a slightly lower average rating but a significantly higher number of votes. This information will help Acme Studios identify movies that are not only highly rated but also generate significant audience engagement, potentially influencing future marketing efforts and content creation strategies.

Problem Statement:

To address this, Acme Studios wants to calculate a "weighted average rating" that considers both the average rating (vote_average) and the number of votes received (vote_count) for each movie in their database. This will provide a more nuanced understanding of audience reception.

The formula provided takes into account the number of votes a movie has received ("v") relative to a minimum threshold ("m") set at 104 votes. It also factors in the movie's average rating ("R") and the overall average vote rating across the entire dataset ("C") set at 5.97.

Formula: (v/(v+m) * R) + (m/(m+v) * C )
Write an SQL query to create a new column named "Weighted_avg_rating" based on this formula. Then, we'll retrieve the top 10 movies with the highest weighted average ratings, displaying the movie title ("original_title") and the weighted average rating


Result:

Return the columns original_title, Weighted_avg_rating
Return the output ordered by Weighted_avg_rating in descending order and original_title in ascending order.
Dataset description for movies table:

id - tmdb movie id
imdb_id - imdb movie id
popularity - A numeric quantity specifying the movie popularity.
budget - The budget in which the movie was made.
revenue - The worldwide revenue generated by the movie.
original_title - The title of the movie
cast - The name of the lead and supporting actors.
homepage - A link to the homepage of the movie.
director - The name of the director of the movie
tagline - Movie's tagline.
keywords - The keywords or tags related to the movie.
overview - A brief description of the movie.
runtime - The running time of the movie in minutes.
genres - The genres of the movies
production_companies - The production house of the movie.
release_date - the date on which it was released.
vote_count - the count of votes received.
vote_average - average ratings the movie received.
release_year - the year in which it was released.

In [ ]:
SELECT original_title,
    ROUND((vote_count/(vote_count+104.0) * vote_average) + (104/(104.0+vote_count) * 5.97), 2) AS Weighted_avg_rating
FROM movies
ORDER BY Weighted_avg_rating DESC, original_title ASC
LIMIT 10;

Q3. Book Description
sql
Unsolved
feature icon
Using hints except Complete Solution is Penalty free now
Use Hint
Context:

Empire Online, a leading online retailer specializing in books, wants to enhance the presentation of book information on its website. They believe that providing a concise and informative summary of each book can improve customer browsing experience and potentially lead to increased sales.

Problem Statement:

To achieve this, Empire Online wants to create a new column named "Book_Description" within their "books" table. This column will combine essential details about each book, including the book name ("book_name"), author ("author"), and price ("book_price").

Write a query to display the book description as shown below in the sample output.

Result:

Return the result table sorted by Book_Description in ascending order.
This will provide "Book_Description" information in a clear and organized format. Finally, the results will be sorted alphabetically by book description for easy browsing.
Sample Input:

Table: books



Sample output:

In [ ]:
SELECT 
    CONCAT('Book Name',':',book_name,',','Author',':',author,',','Book price',':',book_price) as Book_Description 
    FROM books 
    ORDER BY book_name

Q4. New Salary
sql
Unsolved
feature icon
Using hints except Complete Solution is Penalty free now
Use Hint
Context:

Zenith Tech Solutions is a growing software development company. The company is reviewing employee compensation and considering salary increases as a way to reward employee performance and stay competitive in the job market, Zenith Tech is considering a salary increase for all staff. To calculate the potential impact of a salary increase, Zenith Tech wants to analyze the effects of a 20% raise for all employees. By analyzing the "New_salary" column, Zenith Tech can assess the overall financial implications of a company-wide raise and make an informed decision about salary adjustments. This can help them retain valuable talent and attract top performers in the competitive tech industry.

Problem Description:

Write a SQL query to create a new column named "New_salary" within their "employees" table. This column will reflect the adjusted salary after applying a 20% raise to the current salary ("salary").

Steps to calculate the salary increment:

Multiply the current salary by the percentage of the increment.
Divide the result by 100.
Then add the result to the current salary.
Name the column as 'New_Salary'
Round off the 'New_salary'. Use Round() for this.

Result:

Return the columns emp_id, name, salary, and 'New_salary'.
Order the output by the emp_id in ascending order.

Table: employees

Schema

Sample Input:

Table: employees



Sample Output:



Explanation: The New salary for Luis can be calculated as 6142+(0.2*6142) = 7370. In a similar manner, the New_salary is calculated for each employee.

In [ ]:
SELECT
    emp_id, name, salary, ROUND(salary + (0.2 * salary),0)  as New_salary
    from employees
    order by emp_id

Q5. Employee 101
sql
Solved
feature icon
Using hints except Complete Solution is Penalty free now
Use Hint
Context:

Unified Solutions Inc. is a technology consulting firm specialising in workforce management solutions, dedicated to providing tailored staffing solutions to optimise business operations. The company prides itself on deploying highly skilled professionals to meet the staffing needs of various industries. To maintain accurate records of employee career progression and ensure effective human resources management, Unified Solutions Inc. utilizes a comprehensive job history database.

You are a database administrator at Unified Solutions Inc. As part of your responsibility to manage employee records, you need to retrieve details from the job history for all employees except for the employee with ID 101. This data is crucial for tracking career trajectories, facilitating performance evaluations, and supporting strategic workforce planning initiatives.

Problem Statement:

Write a query to get all the details of all the employees from job_history except for the employee with ID 101.

Result:

Return all the fields.
Return the result ordered by employee_id and job_id in ascending order.

Table: job_history

Schema


Sample Input:

Table: job_history



Sample output:



Explanation: The above table shows all the employees who do not have an employee_id 101 and is ordered by employee_id and job_id in ascending order.

In [ ]:
SELECT 
    *
    FROM job_history
    WHERE employee_id <> 101
    ORDER BY employee_id, job_id

Q6. Movies released after 2014
sql
Unsolved
feature icon
Using hints except Complete Solution is Penalty free now
Use Hint
Context:

Acme Studios, a major Hollywood production company, maintains a vast movie database. This database tracks detailed information about their films, including titles, directors, and ratings. Understanding audience preferences is crucial for informing creative decisions and attracting viewers.

You are a data analyst at Acme Studios. Your manager has asked you to identify the titles of movies released after 2014 that have received an average vote rating greater than 7. This information can be valuable for Acme Studios to identify movies that resonate with audiences and potentially influence future content creation or marketing strategies.

Problem Statement:

Write a query to display the titles of the movies that are released (i.e., release_year) after 2014 and have an average vote rating (i.e.,vote_average) greater than 7.

Result:

Return the column 'original_title'.
Return the result ordered by original_title in ascending order.
Dataset description for movies table:

1) id - tmdb movie id

2) imdb_id - imdb movie id

3) popularity -A numeric quantity specifying the movie's popularity.

4) budget -The budget in which the movie was made.

5) revenue - The worldwide revenue generated by the movie.

6) original_title- The title of the movie

7) cast - The name of the lead and supporting actors.

8) homepage - A link to the homepage of the movie.

9) director - The name of the director of the movie

10) tagline - Movie's tagline.

11) keywords -The keywords or tags related to the movie.

12) overview -A brief description of the movie.

13) runtime -The running time of the movie in minutes.

14) genres -The genres of the movies

15) production_companies-The production house of the movie.

16) release_date -the date on which it was released.

17) vote_count -the count of votes received.

18) vote_average - average ratings the movie received.

19) release_year - the year on which it was released.

Sample Input:

Table: movies



Sample Output:

In [ ]:
SELECT original_title 
    FROM MOVIES 
    WHERE (release_year > 2014 AND vote_average > 7)
    ORDER BY original_title asc;

In [ ]:
SELECT name, population, area 
    FROM world 
    WHERE area >= 3000000 OR population >= 25000000 
    ORDER BY name ASC

In [ ]:
SELECT original_title, director, genres, cast, budget, revenue, runtime, vote_average
    FROM movies 
    WHERE keywords LIKE '%sport%' OR keywords LIKE '%sequel%' OR keywords LIKE '%suspense%'
    ORDER BY original_title ASC

In [ ]:
SELECT employee_id, first_name, last_name, salary
FROM employees
WHERE commission_pct IS NULL
  AND salary BETWEEN 5000 AND 10000
  AND department_id IN (50, 10, 80)
ORDER BY employee_id ASC;

In [ ]:
SELECT orderNumber,requiredDate 
    FROM orders 
    WHERE orderDate BETWEEN '2003-12-01' AND '2003-12-31'
    AND status = "Shipped"
    ORDER BY orderNumber

In [ ]:
SELECT DISTINCT author_id as id
FROM views
WHERE author_id = viewer_id
ORDER BY id